<%-include("partials/header.ejs")%>

<div>
<img src="https://images.gr-assets.com/misc/1714673582-1714673582_goodreads_misc.png" id="images" >
</div>
<div class="content1">
    <div class="content">
        <h2>Welcome to My Book Notes Collection</h2>
        <p><span>Discover, Learn, and Share:</span><br>
    Welcome to my personal library of non-fiction book notes! This site is a culmination of my reading journey, where I document the key insights, thoughts, and takeaways from the books I've read.I aim to provide a resource that is both informative and engaging for fellow book enthusiasts.</p>
        <div class="list-constainer">
            <h2>What You’ll Find Here:</h2>
            <ul class="list">
                <li><span>Book Summaries:</span> Concise notes on the main ideas and lessons from each book.</li>
                <li><span>Ratings:</span> My personal ratings for each book, helping you find the best reads.</li>
                <li><span>Reading Dates:</span> When I read each book, giving you a sense of my reading timeline.</li>
                <li><span>Sort and Filter:</span> Easily sort the books by rating, recency, or title to find exactly what you're looking for.</li>
            </ul>
        </div>
    </div>
</div>

<%-include("partials/footer.ejs")%>
